'exception-reporting':
  'userId': '4f6c2a58-65cc-e044-918d-713398aecd56'
'release-notes':
  'viewedVersion': '0.61.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'cf3f7b7f285a694e7d30c4101888e06c2eef3beb'
'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
