'exception-reporting':
  'userId': 'd301e3e9-8d24-83c0-c770-659175060777'
'release-notes':
  'viewedVersion': '0.80.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '74273fc4e0ca1dfa13f28c9dc7725f34affbd4b3'
'editor':
  'fontSize': 13
'core':
  'themes': [
    'unity-ui'
    'base16-railscasts'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/delynn/src'
'autosave':
  'enabled': true
'tree-view': {}
