"*":
  "exception-reporting":
    userId: "d301e3e9-8d24-83c0-c770-659175060777"
  "release-notes":
    viewedVersion: "0.92.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "74273fc4e0ca1dfa13f28c9dc7725f34affbd4b3"
  editor:
    fontSize: 13
    invisibles: {}
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "autocomplete"
      "api-blueprint-preview"
    ]
    themes: [
      "unity-ui"
      "base16-railscasts"
    ]
    projectHome: "/Users/delynn/src"
  autosave:
    enabled: true
  "autocomplete-plus":
    autoActivationDelay: 500
".erb.html.text":
  editor: {}
".python.text.traceback":
  editor: {}
".python.regexp.source":
  editor: {}
".python.source":
  editor: {}
".ruby.source":
  editor: {}
